In [35]:
# Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np
from scipy.stats import linregress
import hvplot.pandas

# Data files
registration_data_combined = "/Users/flynnlives/Documents/GitHub/UCI_Project_1/Registration_Files/Combined_Registrations.csv"
fuel_stations = "/Users/flynnlives/Documents/GitHub/UCI_Project_1/ele_fuel_stations (Aug 7 2023).csv"

In [51]:
registration_data_df = pd.read_csv(registration_data_combined)
registration_data_df

,Year,State,Electric (EV),Plug-In Hybrid Electric (PHEV),Hybrid Electric (HEV),Biodiesel,Ethanol/Flex (E85),Compressed Natural Gas (CNG),Propane,Hydrogen,Methanol,Gasoline,Diesel,Unknown Fuel
0,2022,Alabama,8700,4400,50800,48100,449800,100,100,0,0,4077100,126100,30300
1,2022,Alaska,2000,700,9000,8700,48600,0,0,0,0,457100,30500,5500
2,2022,Arizona,65800,20400,150800,61200,446000,600,800,0,0,5476100,198700,70100
3,2022,Arkansas,5100,2500,30600,33300,283900,200,0,0,0,2229500,89700,10600
4,2022,California,903600,361100,1514000,183900,1338000,10300,1500,14900,0,31059000,725300,8200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
359,2021,Washington,66800,24300,240000,59000,359700,600,100,0,0,5792000,283600,64400
360,2021,West Virginia,1000,1000,14500,13900,129800,200,0,0,0,1268300,46100,10900
361,2021,Wisconsin,9300,7700,93500,39800,556500,700,100,0,0,4639100,143300,29900
362,2021,Wyoming,500,400,5700,17100,59400,100,0,0,0,482400,62100,15600
363,2021,United States,1454400,786800,5491800,2194100,21244900,40800,7600,11800,0,240699500,7110300,1840200

In [52]:
total_registrations = registration_data_df[['Electric (EV)', 
    'Plug-In Hybrid Electric (PHEV)', 
    'Hybrid Electric (HEV)', 
    'Biodiesel', 
    'Ethanol/Flex (E85)', 
    'Compressed Natural Gas (CNG)', 
    'Propane',
    'Hydrogen',
    'Methanol',
    'Gasoline',
    'Diesel',
    'Unknown Fuel']].sum()

total_registrations

Electric (EV)                       13858400
Plug-In Hybrid Electric (PHEV)       7980200
Hybrid Electric (HEV)               66260400
Biodiesel                            9440400
Ethanol/Flex (E85)                 341447800
Compressed Natural Gas (CNG)         6285200
Propane                                28400
Hydrogen                              135200
Methanol                                3800
Gasoline                          3253536600
Diesel                             111616400
Unknown Fuel                        34279600
dtype: int64

In [53]:
registration_data_df["Total Registrations"] = registration_data_df.sum(axis=1)
registration_data_df

/var/folders/3c/pnxs9sq925115jh4gz7_xnhr0000gn/T/ipykernel_36009/1825624059.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  registration_data_df["Total Registrations"] = registration_data_df.sum(axis=1)

,Year,State,Electric (EV),Plug-In Hybrid Electric (PHEV),Hybrid Electric (HEV),Biodiesel,Ethanol/Flex (E85),Compressed Natural Gas (CNG),Propane,Hydrogen,Methanol,Gasoline,Diesel,Unknown Fuel,Total Registrations
0,2022,Alabama,8700,4400,50800,48100,449800,100,100,0,0,4077100,126100,30300,4797522
1,2022,Alaska,2000,700,9000,8700,48600,0,0,0,0,457100,30500,5500,564122
2,2022,Arizona,65800,20400,150800,61200,446000,600,800,0,0,5476100,198700,70100,6492522
3,2022,Arkansas,5100,2500,30600,33300,283900,200,0,0,0,2229500,89700,10600,2687422
4,2022,California,903600,361100,1514000,183900,1338000,10300,1500,14900,0,31059000,725300,8200,36121822
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
359,2021,Washington,66800,24300,240000,59000,359700,600,100,0,0,5792000,283600,64400,6892521
360,2021,West Virginia,1000,1000,14500,13900,129800,200,0,0,0,1268300,46100,10900,1487721
361,2021,Wisconsin,9300,7700,93500,39800,556500,700,100,0,0,4639100,143300,29900,5521921
362,2021,Wyoming,500,400,5700,17100,59400,100,0,0,0,482400,62100,15600,645321
363,2021,United States,1454400,786800,5491800,2194100,21244900,40800,7600,11800,0,240699500,7110300,1840200,280884221

In [54]:
registration_data_df["Total EV Registrations"] = registration_data_df[['Electric (EV)', 
    'Plug-In Hybrid Electric (PHEV)', 
    'Hybrid Electric (HEV)']].sum(axis=1)
registration_data_df

,Year,State,Electric (EV),Plug-In Hybrid Electric (PHEV),Hybrid Electric (HEV),Biodiesel,Ethanol/Flex (E85),Compressed Natural Gas (CNG),Propane,Hydrogen,Methanol,Gasoline,Diesel,Unknown Fuel,Total Registrations,Total EV Registrations
0,2022,Alabama,8700,4400,50800,48100,449800,100,100,0,0,4077100,126100,30300,4797522,63900
1,2022,Alaska,2000,700,9000,8700,48600,0,0,0,0,457100,30500,5500,564122,11700
2,2022,Arizona,65800,20400,150800,61200,446000,600,800,0,0,5476100,198700,70100,6492522,237000
3,2022,Arkansas,5100,2500,30600,33300,283900,200,0,0,0,2229500,89700,10600,2687422,38200
4,2022,California,903600,361100,1514000,183900,1338000,10300,1500,14900,0,31059000,725300,8200,36121822,2778700
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
359,2021,Washington,66800,24300,240000,59000,359700,600,100,0,0,5792000,283600,64400,6892521,331100
360,2021,West Virginia,1000,1000,14500,13900,129800,200,0,0,0,1268300,46100,10900,1487721,16500
361,2021,Wisconsin,9300,7700,93500,39800,556500,700,100,0,0,4639100,143300,29900,5521921,110500
362,2021,Wyoming,500,400,5700,17100,59400,100,0,0,0,482400,62100,15600,645321,6600
363,2021,United States,1454400,786800,5491800,2194100,21244900,40800,7600,11800,0,240699500,7110300,1840200,280884221,7733000

In [60]:
registration_data_df["EV Registration Rate %"] = registration_data_df['Total EV Registrations'] / registration_data_df['Total Registrations'] * 100
# registration_data_df.style.format({"EV Registration Rate %": "{:.1%}"})

registration_data_df

,Year,State,Electric (EV),Plug-In Hybrid Electric (PHEV),Hybrid Electric (HEV),Biodiesel,Ethanol/Flex (E85),Compressed Natural Gas (CNG),Propane,Hydrogen,Methanol,Gasoline,Diesel,Unknown Fuel,Total Registrations,Total EV Registrations,EV Registration Rate %
0,2022,Alabama,8700,4400,50800,48100,449800,100,100,0,0,4077100,126100,30300,4797522,63900,1.331938
1,2022,Alaska,2000,700,9000,8700,48600,0,0,0,0,457100,30500,5500,564122,11700,2.074019
2,2022,Arizona,65800,20400,150800,61200,446000,600,800,0,0,5476100,198700,70100,6492522,237000,3.650353
3,2022,Arkansas,5100,2500,30600,33300,283900,200,0,0,0,2229500,89700,10600,2687422,38200,1.421437
4,2022,California,903600,361100,1514000,183900,1338000,10300,1500,14900,0,31059000,725300,8200,36121822,2778700,7.692580
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
359,2021,Washington,66800,24300,240000,59000,359700,600,100,0,0,5792000,283600,64400,6892521,331100,4.803758
360,2021,West Virginia,1000,1000,14500,13900,129800,200,0,0,0,1268300,46100,10900,1487721,16500,1.109079
361,2021,Wisconsin,9300,7700,93500,39800,556500,700,100,0,0,4639100,143300,29900,5521921,110500,2.001115
362,2021,Wyoming,500,400,5700,17100,59400,100,0,0,0,482400,62100,15600,645321,6600,1.022747
363,2021,United States,1454400,786800,5491800,2194100,21244900,40800,7600,11800,0,240699500,7110300,1840200,280884221,7733000,2.753092

In [ ]:
## dictionary of state abbr to state for referencing etc.
states = {
    'AK': 'Alaska',
    'AL': 'Alabama',
    'AR': 'Arkansas',
    'AZ': 'Arizona',
    'CA': 'California',
    'CO': 'Colorado',
    'CT': 'Connecticut',
    'DC': 'District of Columbia',
    'DE': 'Delaware',
    'FL': 'Florida',
    'GA': 'Georgia',
    'HI': 'Hawaii',
    'IA': 'Iowa',
    'ID': 'Idaho',
    'IL': 'Illinois',
    'IN': 'Indiana',
    'KS': 'Kansas',
    'KY': 'Kentucky',
    'LA': 'Louisiana',
    'MA': 'Massachusetts',
    'MD': 'Maryland',
    'ME': 'Maine',
    'MI': 'Michigan',
    'MN': 'Minnesota',
    'MO': 'Missouri',
    'MS': 'Mississippi',
    'MT': 'Montana',
    'NC': 'North Carolina',
    'ND': 'North Dakota',
    'NE': 'Nebraska',
    'NH': 'New Hampshire',
    'NJ': 'New Jersey',
    'NM': 'New Mexico',
    'NV': 'Nevada',
    'NY': 'New York',
    'OH': 'Ohio',
    'OK': 'Oklahoma',
    'OR': 'Oregon',
    'PA': 'Pennsylvania',
    'RI': 'Rhode Island',
    'SC': 'South Carolina',
    'SD': 'South Dakota',
    'TN': 'Tennessee',
    'TX': 'Texas',
    'UT': 'Utah',
    'VA': 'Virginia',
    'VT': 'Vermont',
    'WA': 'Washington',
    'WI': 'Wisconsin',
    'WV': 'West Virginia',
    'WY': 'Wyoming'
}

/var/folders/3c/pnxs9sq925115jh4gz7_xnhr0000gn/T/ipykernel_36009/1514556496.py:1: DtypeWarning: Columns (6,20,31,46) have mixed types. Specify dtype option on import or set low_memory=False.
  fuel_station_df = pd.read_csv(fuel_stations)

,Fuel Type Code,Station Name,Street Address,Intersection Directions,City,State,ZIP,Plus4,Station Phone,Status Code,...,EV On-Site Renewable Source,Restricted Access,RD Blends,RD Blends (French),RD Blended with Biodiesel,RD Maximum Biodiesel Level,NPS Unit Name,CNG Station Sells Renewable Natural Gas,LNG Station Sells Renewable Natural Gas,Maximum Vehicle Class
0,ELEC,Los Angeles Convention Center,1201 S Figueroa St,West hall and South hall,Los Angeles,CA,90015,NaN,213-741-1151,E,...,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LD
1,ELEC,California Air Resources Board,9530 Telstar Ave,NaN,El Monte,CA,91731,NaN,626-575-6800,E,...,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ELEC,Scripps Green Hospital,10666 N Torrey Pines Rd,"Patient Parking Structure, level G",La Jolla,CA,92037,NaN,NaN,E,...,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ELEC,Galpin Motors,15421 Roscoe Blvd,NaN,Sepulveda,CA,91343,NaN,800-256-6219,E,...,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MD
4,ELEC,Galleria at Tyler,1299 Galleria at Tyler,NaN,Riverside,CA,92503,NaN,951-351-3110,E,...,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
location_df  = pd.read_csv(fuel_stations)

location_df = location_df.loc[location_df['State'].dropna().index] ### drop missing entries only in State column
drop_state = [i for i in location_df['State'].unique() if i not in states.keys()] ### get list of states to drop using state dictionary
for st in drop_state:
    location_df.drop(location_df[location_df['State'] == st].index,inplace = True)

lats = location_df.groupby('State').mean()['Latitude']
long = location_df.groupby('State').mean()['Longitude']
count = location_df.groupby('State').count()['Fuel Type Code']

map_df = pd.DataFrame([count,long,lats]).T ## T transposes dataframe, switches columns and index values
map_df = map_df.rename({'Fuel Type Code':'Count'},axis = 1)
map_df = map_df.reset_index()

colors = 'State'
size = 'Count'
xlab = 'x'
ylab = 'y'
fh = 500
fw = 700
map_df.hvplot.points(x='Longitude',y='Latitude',geo = True,xlabel=xlab,ylabel = ylab,c= colors,s = size,frame_height = fh,frame_width=fw,alpha = 0.75,tiles='StamenTonerBackground',scale = 0.5)